@{
    ViewData["Title"] = "Imagen";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>En ésta web usted podrá clasificar emociones faciales cargando imagenes</p>
</div>

<div class="container">
    <div class="mb-3">
        <form id="formulario" asp-action="Index" method="post" enctype="multipart/form-data">
            <label for="formFileDisabled" class="form-label">Importe una imagen</label>
            <input id="miInputFile" class="form-control" type="file" name="imageFile" onchange="previewImage(event)" />
          
            <br/>
            <button type="submit" class="btn btn-secondary">Cargar</button>

            <h1>Resultado de la predicción:</h1>
            <h2>@ViewBag.Respuesta</h2>
        </form>
    </div>
</div>


<img id="previewImage" src="#" alt="Vista previa de la imagen" style="display: none;" height="400px;" />

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function () {
                var previewImage = document.getElementById('previewImage');
                previewImage.src = reader.result;
                previewImage.style.display = 'block';
            }

            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}